* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: unset;
}

.rightcontent {
    left: -45%;
}

.nav-bar ul li:nth-child(1),
.nav-bar ul li:nth-child(2),
.nav-bar ul li:nth-child(3),
.nav-bar ul li:nth-child(4),
.nav-bar ul li:nth-child(5) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 50px;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

.nav-bar .hover-line1::after,
.nav-bar .hover-line2::after,
.nav-bar .hover-line3::after,
.nav-bar .hover-line4::after,
.nav-bar .hover-line5::after {
    content: '';
    position: absolute;
    background-color: #FFF;
    bottom: 0;
    height: 0.2rem;
    margin-left: -0.25%;
    transition: all 0.3s;
}

.nav-bar .hover-line1::after {
    width: 4%;
}

.nav-bar .hover-line2::after {
    width: 10.8%;
}

.nav-bar .hover-line3::after {
    width: 6%;
}

.nav-bar .hover-line4::after {
    width: 10%;
}

.nav-bar .hover-line5::after {
    width: 6.4%;
}

#topp {
    transition: all 0.3s;
}

.nav-bar .aa::after {
    transform: scale(0, 1);
}

.nav-bar .aa:hover::after {
    transform: scale(1, 1);
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 1000;
    position: fixed;
    color: #FFF;
    width: 100%;
}

#section1 {
    width: 100%;
    position: sticky;
    height: 90vh;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("mainschl.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
}

.motto {
    justify-content: center;
    position: absolute;
    width: 100%;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: -450;
    font-size: 2em;
    height: 100%;
    margin-top: 8%;
    text-align: center;
}

.motto h1 {
    background-attachment: fixed;
    opacity: 0.8;
}

.dropadmno {
    display: none;
    left: 0;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    background-color: #FFF;
    z-index: 10000;
    height: 200px;
    width: 200px;
}

.nav-bar ul li:nth-child(4):hover .dropadmno {
    display: block;
}

#instr {
    justify-content: center;
    text-align: center;
    position: sticky;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0);
}

.colored {
    z-index: 9999;
    position: sticky;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(42, 162, 42, 0.555);
    font-size: larger;
    background-attachment: fixed;
    letter-spacing: 0.6rem;
    padding: 1rem;
}

#arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: all 0.4s;
    cursor: pointer;
}

#arrow:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#instr .colored:hover .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ons {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#rspnstocv .main {
    font-size: 4rem;
    color: #FFF;
    margin-top: 5rem;
    font-weight: 900;
}

#rspnstocv {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(25, 95, 25, 0.788);
    justify-content: center;
    align-items: center;
    height: 50%;
}

#rspnstocv .descpm {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #FFF;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hrefb1 {
    background: rgba(23, 83, 23, 0.781);
    padding: 1rem;
    border: none;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    color: #FFF;
    transition: background-color 0.3s;
}

.hrefb1:hover {
    background: rgba(23, 83, 23, 0.904);
}

#services {
    background-color: antiquewhite;
    height: 100vh;
    padding-bottom: 7rem;
}

#services .abttop {
    font-size: 3.5rem;
    text-align: center;
    align-items: center;
    padding-top: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.abttopdec {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 200;
}

#services .service-item,
#services .service-item2,
#services .service-item3,
#services .service-item4 {
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    vertical-align: bottom;
    max-width: 225px;
    flex-direction: column;
    padding: 30px;
    width: 70%;
    height: 57vh;
    text-align:center;
    background-repeat: no-repeat;
    margin: 10px;
    background-position: top;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    overflow: hidden;
}

#services .service-item {
    background-image: url("./service items/5.webp");
    background-size: 50vh;
}

#services .service-item2 {
    background-image: url("./service items/2.jpg");
    background-size: 50vh;
}

#services .service-item3 {
    background-image: url("./service items/3.jpeg");
    background-size: 47vh;
}

#services .service-item4 {
    background-image: url("./service items/1.jpg");
    background-size: 44.5vh;
}

#services .service-bottom {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

#services .service-bottom h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    padding-bottom: 0.6rem;
}

#services .service-item:hover,
#services .service-item2:hover,
#services .service-item3:hover,
#services .service-item4:hover {
    background-size: calc(100% + 2vh);
}

#topp2 {
    height: 5.5vh;
    width: 100%;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    background-color: rgba(0, 128, 0, 0.507);
    z-index: 1000;
}

.nav-bar1 {
    justify-content: center;
    vertical-align: middle;
    margin-left: 50%;
}

.nav-bar1 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-bar1 ul li {
    padding: 1rem;
    margin-top: -36px;
}

.brand {
    margin-top: 10px;
    margin-left: 30px;
}

.scrl {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.abttop,
.abttopdec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#activity .sec3des {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

#activity {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

#activity .sec3des2 {
    font-size: 4rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#topp2 .nav-bar1 ul li:hover {
    font-weight: 600;
    padding: 0.8rem;
}

.nav-bar1 ul li {
    transition: all 0.3s;
}

#topp2 .brand {
    letter-spacing: 1rem;
}

.intro {
    width: 30rem;
    margin-top: 6rem;
    text-align: justify;
    height: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3rem;
    background-color: #FFF;
    border-radius: 4px;
    cursor: pointer;
}

.intro p {
    background-color: #FFF;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.intro h1 {
    padding: 1rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 0;
}

.intro:hover {
    background-color: rgb(221, 16, 16);
    color: #FFF;
}

.intro:hover p {
    background-color: rgb(221, 16, 16);
    color: #FFF;
}

.vl {
    border-left: 3px solid green;
    height: auto;
    margin-left: 9rem;
    margin-top: 5rem;
}

#activity #mainac {
    display: flex;
    flex-direction: row;
}

#allacts {
    padding: 2rem;
    padding-top: 0;
}

#allacts .intro {
    padding-bottom: 3rem;
    margin-left: 7rem;
}

#mainac .intro .first {
    margin-top: 40rem;
}

.introfirst {
    background-color: #FFF;
    cursor: pointer;
    border-radius: 4px;
}

.introfirst p {
    background-color: #FFF;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.introfirst h1 {
    padding: 1rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 0;
}

.introfirst {
    width: 30rem;
    margin-top: 9rem;
    text-align: justify;
    height: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3rem;
}

#activity {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./activity/activity.webp");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    opacity: 0.9;
}

#footer1 {
    display: flex;
    background-color: grey;
    color: #FFF;
    flex-direction: row;
}

.container {
    width: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.container h2 {
    padding-bottom: 0.6rem;
    font-weight: 600;
}

.container2 {
    width: 15%;
    text-align: center;
    margin-left: 1rem;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1rem;
}

.container2 h2 {
    font-weight: 600;
    padding-bottom: 0.6rem;
}

.container2 p {
    margin-bottom: 0.7rem;
    transition: all 0.3s;
}

.container2 a:hover {
    font-weight: 300;
}

#footer {
    background-color: grey;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #FFF;
}

#footer .con {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
}

#mm, #mm2 {
    color: #FFF;
}

#footer .icons img {
    width: 40px;
    height: 40px;
    margin-top: 7px;
    filter: grayscale(1);
    padding: 4px;
    transition: all 0.4s;
}

#footer .icons img:hover {
    filter: grayscale(0);
}

@media (max-width: 1080px) {
    #topp2 {
        display: none;
    }
}

@media (max-width: 900px) {
    #topp2 {
        display: none;
    }

    .nav-bar ul li {
        display: none;
    }
}
